
.ng-enter {
  	transition: 0s;
  	opacity: 0;
}


.ng-enter-active {	
  	opacity: 1; 
	
}

.ng-leave {
  opacity: 1;
}


.ng-leave-active {
  opacity: 0;
}

.ng-move {
  -webkit-transition: 1s;
  transition: 1s;  
  /*background: gold;*/
}

.ng-move-active {
  /*
  background: #fff;
  */
}

.ng-ignore{
	opacity: 1;
	margin-left: 0;
}


.ui-show {
  color: blue;
  transition: all 0.5s ease; 
}

.ui-hide {
  opacity: 0;
  transition: all 0.5s ease; 
}



.canvas-initial-hide{
	display: none;
}


.offcanvas-wrapper{
	position: fixed;
	width: 100%;
	min-width: 300px;
	max-width: 600px;   
	height: 100%; 
	overflow: auto; 
	background-color: black; 
	z-index: 999900;
	padding: 0px 10px; 
	opacity: 1;
}


.offcanvas-active{

}

.offcanvas-hide{
		
}	
