



/* MODAL */
.read-more{
	cursor: pointer;
	color: inherit;
}

.modal-body{
	color: black;
	z-index: 9000;
}

.reveal-modal{
	opacity: 0;
}



/* CLASSES */
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}


.fonttype-1{
	font-family: 'Arvo', serif;
}

.fonttype-2{
	font-family: 'Lora', serif;
}

.isPointer {
	cursor: pointer; 
}

.content-default-height{
	min-height: 900px /* DEFAULT MINIMUM HEIGHT */
}

.fix-a{	
	text-decoration: none;
	cursor: pointer; 	
}

.ta-editor{
	padding: 10px; 
	background-color: #bdc3c7; 
}

.initialHide{
	height: 0px;
	opacity: 0;
}

.doNotDisplay{
	display: none;
}

.hidden{
	opacity: 0px;
}

.vanish{
	opacity: 0;
	height: 0px;
	transition: .25s;
	pointer-events: none;
}

.reveal{
	opacity: 1;
	height: auto;
	transition: .25s;
	pointer-events: auto;
}


/* // TEXT-angular */ 
.ta-root{
	margin-bottom: 20px;
	border: 1px solid rgba(0, 0, 0, .8);
	border-radius: 3px;	
}


.ta-root p{
	font-size: .75em;
}


.ta-btn-toolbar{
	background-color: #bdc3c7;
	padding: 7px;
	height: auto;
	text-align: center;	
}

.ta-btn-group{
	height: auto;
	padding: 0px;
	margin: 0px;
}

.ta-btn{
	width: auto;
	height: auto;
	padding: 7px;
	margin-right: 4px;
	margin-bottom: 4px;
	font-size: .65em;
	border-radius: 3px;	
}

.ta-wordcount{
	display: none;
	height: auto;
}

.ta-chrcount{
	display: none;
	height: auto;	
}

.ta-form-control{
	
}

.border-around{
	
}


.ta-bind{	
	padding: 5px; 
	border-radius: 3px;	
 	border: 1px dashed gray;
 	background-color: white;
}

.ta-bind:hover{
	border: 1px solid black;
}

.ta-focussed .ta-editor{
		
	
}


.ng-invalid-required{
	border: 1px solid red!important; 
}


.covervid-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}



.parallax-scroll-main{ 
	
	background-repeat:repeat;
	background-attachment:fixed;
	height: auto;  
	margin: 0 auto; 
    position: fixed; 
    width: 100%; 
    height: 100%;
    
}

.full-width{
	max-width: 100%;
}

.content-entry-header{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(0, 0, 0, 0)
}



.content-entry-footer{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(0, 0, 0, 0)
}

.content-entry-container-all{
	display: block;
	width: 100%;
}

.content-column-full{
	display: block;
	padding-left: 50px;
	padding-right: 50px;
}

.content-entry-container{	
	padding: 10px, 25px;
	background-color: rgba(0, 0, 0, .8);
	margin-bottom: 10px; 
}

.content-column-standard{
	padding-left: 20px;		
}


.actionButtons-standard{
	position: relative; 
	padding: 10px; 
	z-index: 100
	width: auto;
	height: auto;
}

.actionButtons-full{
	position: relative; 
	padding: 10px;
	z-index: 100; 
	width: auto;
	height: auto;
}

.uniform-form button{
 
	font-family: 'Lora', serif;
	font-size: .75em;
	
	width: 100%;
	height: 37px;
	
}

.uniform-form input{
	font-family: 'Lora', serif
	font-size: .75em;
	
	width: 100%;
	height: 37px;
	padding: 5px; 
	margin: 0;	

}

.uniform-form p{
 	margin-top: 7px;
	font-family: 'Lora', serif;
	font-size: .75em;
}

.uniform-form i{
	position: absolute; 
	margin-top: -6px; 
	left: 42%	
}

