
/* DEFAULT SIZES */
body{
	min-width: 640px;
}



p, a{
	font-size: 1em;                /* <-- ALL OTHER SIZES ARE RELATIVE TO THIS ONE*/
	font-family: 'Lora', serif;
	color: inherit;  
} 

h1, h2, h3, h4, h5{
	font-family: 'Arvo', serif;
	color: inherit;  
}



h1{
	font-size: 3em;
}

h2{	
	font-size: 2em;
}

h3{
	font-size: 1em;
}

h4{
	font-size: .85em;
}

h5{
	font-size: .8em;
}

small{
	font-size: .75em;
}


