



.editor-blank-row{
	position: relative; 
	width: 100%; 
	height: 50px;
	border: 2px dashed black;
	float: left;
	padding: 10px; 
	background-color: rgba(119,136,153, .8);
	transition: .25;
	color: black;
	text-align: center;
}

.editor-blank-row:hover{
	border: 2px dashed white;
	background-color: rgba(83,95,107, 1);
	transition: .25;
	color: white;
	cursor: hand
}



.editor-layout-image{
	padding: 5px; 
	background-color: white; 
	height: auto; 
	width: 100%;
	max-height: 75px;
	transistion: .5s;
}

.editor-layout-image:hover{
	background-color: black; 
	transistion: .5s;
}


.editor-layout-deleteButton{
	position: relative; 
	width: 100%; 
	height: 35px; 
	padding: 5px
}

.editor-layout-caret-container{
	position: relative; 
	width: 100%; 
	height: 20px;
	text-align: center;
}
