
	<!-- LOGIN MODAL -->
	<script type="text/ng-template" id="loginModal.html">
		<div class='modal-container'>
			<div style="max-width: 600px; width: 100%" class="modal-body">	
				<div ng-class="{true: 'hidden', false: 'visible'}[isLoading]">
					<div class="row">
						<div class="small-12 medium-6 columns">
							<h3>User Login</h3>
							<br><br>
						</div>
					</div>			
					
					<div class="row">
						<div class="small-12 medium-6 columns">
							<label>Email:</label>
							<input ng-model="selected.username" class="small-12 columns">
								
						</div>
						
						<div class="small-12 medium-6 columns">
							<label>Password:</label>				
							<input type="password" ng-model="selected.password" class="small-12 columns">
								
						</div>
						
						<div class="small-12 columns">
							
							<button class="button tiny small-12 medium-4 pull-right columns" 	ng-click="ok()">SUBMIT</button>
						</div>					
					</div>
				</div>
				
						
				<div class="row">
					<div class="small-12 columns">
						<div ng-class="{false: 'hidden', true: 'visible'}[isLoading]">
							<centered>
									<small>Thinking!  It hurts!</small>
									<br> 		
									<rotating-plane-spinner></rotating-plane-spinner>									
							</centered>		
						</div>
					</div>
				</div>		
			</div>
		</div>
		<a class="close-reveal-modal" ng-click="close()"><i class="fa fa-caret-square-o-left"></i></a>	
	</script>
  	<!-- END MODAL -->
  	
  	
  	<!-- RESET EMAIL MODAL -->
	<script type="text/ng-template" id="resetModal.html">
		<div style="max-width: 600px; width: 100%" class="modal-body">
			
			<div ng-class="{true: 'hidden', false: 'visible'}[isLoading]">
				<div class="row">
					<div class="small-12 medium-6 columns">
						<h3>Reset Password</h3>
						<br><br>
					</div>
				</div>			
				
				<div class="row">
					<div class="small-12 columns">
						<label>Email:</label>
						<input type='text' ng-model="selected.username" class="small-12 columns">							
					</div>
					<br><br>
					
					<div class="small-12 columns">						
						<button type='button' class="button tiny small-12 medium-4 pull-right columns" 	ng-click="reset()">SUBMIT</button>
					</div>					
				</div>
			</div>
			
					
			<div class="row">
				<div class="small-12 columns">
					<div ng-class="{false: 'hidden', true: 'visible'}[isLoading]">
						<centered>
								<small>Thinking!  It hurts!</small>
								<br> 		
								<rotating-plane-spinner></rotating-plane-spinner>									
						</centered>		
					</div>
				</div>
			</div>		
		</div>
		<a class="close-reveal-modal" ng-click="close()"><i class="fa fa-caret-square-o-left"></i></a>
	</script>
  	<!-- END MODAL -->	
  	

	<!-- CREATE ACCOUNT MODAL -->
	<script type="text/ng-template" id="createModal.html">
		<div style="max-width: 600px; width: 100%" class="modal-body">
			
			<div class="row" ng-class="{false: 'visable', true: 'hidden'}[isChecking]">
				<h3>Create Account</h3>
				<hr>
	        	<div class="small-12 columns">	          
		        	<div class="small-12 columns" ng-class="{true: 'hidden', false: 'visable'}[isUpload]">
						<formly-form result="formData"
									 fields="formFields"
									 options="formOptions"
									 ng-submit="submit()">
						</formly-form>	        				
					</div>
					
					<div class="small-12 columns" ng-class="{false: 'hidden', true: 'visable'}[isUpload]">
						<centered>
							<h2>Thank you for signing up!</h2>
							<h5>Instructions on how to login have been sent to your email account. </h5>					
						 </centered>		        	
		      		</div>					
					
				</div>
			</div>			
			<div ng-class="{true: 'visable', false: 'hidden'}[isChecking]">
				<centered>
						<small>Thinking!  It hurts!</small>
						<br> 		
						<rotating-plane-spinner></rotating-plane-spinner>			
				</centered>	
			</div>			
		</div>
		<a class="close-reveal-modal" ng-click="cancel()"><i class="fa fa-caret-square-o-left"></i></a>
	</script>
  	<!-- END MODAL -->

	<!-- EDIT PROFILE MODAL -->
	<script type="text/ng-template" id="editProfileModal.html">
		<div style="max-width: 600px; width: 100%" class="modal-body">
			<div class="row">
				<h3>Select a new profile picture.</h3>
				<br><br>
			</div>
			
			<div class="row">
				<centered>	
					<div class="small-12 columns" ng-class="{false: 'hidden', true: 'visable'}[isUpload]">
						
						
						<div class="file-input-wrapper">
						 	<button class="btn-file-input"><small>Select an image</small></button>																  
							<input id="newProfileImg" type="file" accept="image/*" onchange="angular.element(this).scope().handleFileSelect(this)"/>
						</div>
						

						<div ng-show="newProfileImg">
							<centered>
								<small>Preview| {{progress * 100}}%</small>
								<br><br>						
								<img ng-src="{{imageData}}" class='img-responsive'/>
								<br><br>
								<small>{{dimensions.width | number:0}} x {{dimensions.height | number:0}} <br> Aspect Ratio: {{dimensions.aspectRatio | number:2}}</small>
							</centered>
							<br><br>
						</div>
	 				  
					  	<div ng-class="{true: 'visible', false: 'hidden'}[imageData != null]">
					  		<button class="button expand" ng-click="uploadImage(imageData)"><small>Start Upload</small></button>
					  	</div>
						 			        	
		      		</div>	
				</centered>
			</div>
		</div>
		<a class="close-reveal-modal" ng-click="cancel()"><i class="fa fa-caret-square-o-left"></i></a>
	</script>
  	<!-- END MODAL -->  
  	
  	
	<!-- EDIT PROFILE DATA MODAL -->
	<script type="text/ng-template" id="editProfileDataModal.html">
		<div style="max-width: 600px; width: 100%;" class="modal-body">
			<div class="row">
				<h3>Edit account information.</h3>
				<br>
			</div>

			<div ng-class="{false: 'hidden', true: 'visable'}[pageLoading]">
				<gap></gap>				
					<wandering-cubes-spinner></wandering-cubes-spinner>			
				<gap></gap>
			</div>

			<div ng-class="{true: 'visable', false: 'hidden'}[isChecking]">
				<centered>
						<small>Thinking!  It hurts!</small>
						<br> 		
						<rotating-plane-spinner></rotating-plane-spinner>			
				</centered>	
			</div>				
			
			<!-- PAGE LOADING -->
			<div ng-class="{true: 'hidden', false: 'visable'}[isChecking]">
					<div class="row">
						<div class="small-10 small-offset-1 columns">
							<formly-form result="formData"
										 fields="formFields"
										 options="formOptions"
										 ng-submit="update()">
							</formly-form>	
								
							<br><br>																							
						</div>
					</div>	
			</div>
		</div>
		<a class="close-reveal-modal" ng-click="cancel()"><i class="fa fa-caret-square-o-left"></i></a>
	</script>
  	<!-- END MODAL -->  
  	
  	
	<!-- CHANGE PASSWORD MODAL -->
	<script type="text/ng-template" id="changePasswordModal.html">
		<div style="max-width: 600px; width: 100%" class="modal-body">	
			
			<div ng-class="{true: 'hidden', false: 'visable'}[isThinking]">
				<div class="row">
					<h3><img ng-src="{{userData.profile.small}}" style="padding-right: 15px"/>Change Password</h3>
					<br><br>
				</div>
				
			
				<div class="row">
						<label>Current Password:</label>
						<input class="small-12 columns" type='password' ng-model="userData.currentPassword"></input>
						<br>

						<label>New Password:</label>
						<input class="small-12 columns" type='password' ng-model="userData.newPassword" ></input>
						<br>	
						
						<label>Reenter Password:</label>
						<input class="small-12 columns" type='password' ng-model="userData.confirmPassword" ></input>
						<br>
						
						
						<br><br>	
						<br><br>
						<centered>
							<button ng-click="update()" class="tiny button">UPDATE</button>
						</centered>	
						
				</div>				
			</div>
			
			
			<div class="row">
				<div ng-class="{false: 'hidden', true: 'visable'}[isThinking]">
					<centered>
							<small>Thinking!  It hurts!</small>
							<br> 		
							<rotating-plane-spinner></rotating-plane-spinner>			
					</centered>	
				</div>
			</div>		
			
		</div>
		<a class="close-reveal-modal" ng-click="cancel()"><i class="fa fa-caret-square-o-left"></i></a>		
	</script>
  	<!-- END MODAL -->


	<!-- DELETE MODAL -->
	<script type="text/ng-template" id="deleteModal.html">
		<div style="max-width: 600px; width: 100%" class="modal-body">	
			
			<div ng-class="{true: 'hidden', false: 'visable'}[isThinking]">
				<div class="row">
					<h3><img ng-src="{{userData.profile.small}}" style="padding-right: 15px"/> Delete Account</h3>
					<br><br>
				</div>
				
				<div class="row">						
						<div class="small-12 medium-12 columns">
							<label>Password:</label>				
							<input ng-model="userForm.password" type='password' class="small-12 columns">	
							<label>Confirm:</label>				
							<input ng-model="userForm.confirm" type='password' class="small-12 columns">								
						</div>
				</div>
				
				<div class="row">
					<br><br>
					<br><br>
					<button class="button alert pull-right tiny" ng-click="beginDelete()" >Delete</button>
				</div>				
			</div>
			
			
			<div class="row">
				<div ng-class="{false: 'hidden', true: 'visable'}[isThinking]">
					<centered>
							<small>Thinking!  It hurts!</small>
							<br> 		
							<rotating-plane-spinner></rotating-plane-spinner>			
					</centered>	
				</div>
			</div>		
			
		</div>
		<a class="close-reveal-modal" ng-click="cancel()"><i class="fa fa-caret-square-o-left"></i></a>
	</script>
  	<!-- END MODAL -->
  	

