<div class='row'>
	<br><br>
	
	<div class='small-12 left columns'>
			<h5>
				<small>#{{entry.uploader}}</small>
			</h5>			
	</div>	
	
	

	<div ng-repeat="image in entry.pictures" class='small-4 columns left'>
		<centered>	 						
			<img ng-src="{{image.src}}" class="img-responsive" ng-click="mainCore.pictureBox(entry.pictures, $index)" />				 									
			<p><small><em>{{image.caption | characters:15}}</em></small></p>
		</centered>
	</div>	
	
	<div class='small-12 left columns'>
			<div  ng-bind-html="entry.description | trusthtml"  ></div>			
	</div>									
	

</div>