<div id='nt-content-header' class="small-12">
    <div ng-class='{true: "content-column-full", false: "content-column-standard columns"}[page.settings.fullWidth]'>
        <gap></gap>
        <h1>{{page.settings.header}}</h1>
        <p>{{page.settings.description}}</p>
        <gap></gap>
    </div>
</div>


