<div class='small-12 pull-left' ng-if="entryStatistics.total > 0">
  <button ng-disabled='page.editOpen' class='button expand' ng-click='premadeCollection.fetchMore($event)'> More Entries </button>	
</div>