<div class='row'>


	<!-- KEYWORD SEARCH -->
	<div class='small-12 right'>
			<!-- clear button -->	
	 		<div class='small-3 right columns uniform-form'>						 						 		
				<button id='nt-keyword-search-clear' ng-disabled='collection.searchWhere == ""' ng-click='premadeCollection.clearSearch();searchKeyword = ""' class='button alert'><i class="fa fa-times-circle"></i></button>								
			</div>	
					
			<!-- search bar and button -->
			<div class='small-7 left uniform-form'>						
				<input 	id='nt-keyword-search'
						type='text' placeholder='Search' 
						ng-model='searchKeyword'  
						ui-keyup="{'enter':'premadeCollection.generalSearch(searchKeyword)'}">
			</div>
			
	 		<div class='small-2 left uniform-form'>						 						 		
				<button id='nt-keyword-search-btn' ng-click='premadeCollection.generalSearch(searchKeyword)' class='button secondary'><i class="fa fa-search"></i></button>								
			</div>																				
	</div>
	

</div>