<!-- ENTRY DATA -->
<div class='small-12' style='text-align: right' ng-if="entryStatistics.total > 0">
	<h4><span ng-if='collection.pagination.form == "single"'>Entries: {{collection.pagination.currentEntry + 1}} out of {{entryStatistics.total}}</span>		
		<span ng-if='collection.pagination.form == "multi" '>Entries: {{filtered.length}} / {{entryStatistics.total}}</span>
		<span ng-if='collection.pagination.form == "multip"'>Total Entries:  {{entryStatistics.total}}</span>
	</h4>		
</div>