<div ng-init="initCore.init()">
    <div class="container" style='border: 10px'>
        <br>
        <button class="small-12 button alert columns" ng-click='mainCore.offcanvasLogin()'>
            <i class="fa fa-2x" ng-class='{true: "fa-sign-out", false: "fa-sign-in"}[masterData.logState]'></i>
            <br>
            <small ng-if="masterData.logState == true">Logout</small>
            <small ng-if="masterData.logState == false">Login</small>
        </button>
        <button class="small-6 button columns" ng-if='entry.deployed' ng-click="mainCore.offcanvasToggle(entry.label)" ng-repeat='entry in pages'>
            <i class="fa fa-bookmark-o fa-2x"></i>
            <br>
            <small>{{entry.label | uppercase }}</small>
            </span>
            <button class="small-12 button alert columns" ng-click="mainCore.close('')">
                <i class="fa fa-caret-square-o-left fa-2x"></i>
                <br>
                <small>Close</small>
            </button>
    </div>
</div>