<div class='small-5 right'>
    <div class='small-9 left uniform-form'>
        <input id='nt-keyword-search' type='text' placeholder='Search' ng-model='searchKeyword' ui-keyup="{'enter':'premadeCollection.generalSearch(searchKeyword)'}">
    </div>
    <div class='small-3 right uniform-form'>
        <button id='nt-keyword-search-btn' ng-if='collection.searchWhere == ""' ng-click='premadeCollection.generalSearch(searchKeyword)' class='button secondary'>
            <i class="fa fa-search"></i>
        </button>
        <button id='nt-keyword-search-clear' ng-if='collection.searchWhere != ""' ng-click='premadeCollection.clearSearch()' class='button alert'>
            <i class="fa fa-times-circle"></i>
        </button>
    </div>
</div>
<div class='small-3 right'>
    <div class='small-4 right'>
        <span class='isPointer hint--top has-tip ' data-hint="{{'Advanced Search'}}" ng-click="premadeCollection.advancedSearch()">
            <i class="fa fa-2x fa-sliders"></i>
        </span>
    </div>
    <div class='small-4 right'>
        <span class='isPointer  hint--top has-tip' data-hint="{{'Load Prior'}}" ng-click='premadeCollection.loadPriorSearch()'>
            <i class="fa fa-2x fa-cloud-upload"></i>
        </span>
    </div>
    <div class='small-4 right'>
        <span class='isPointer hint--top has-tip' data-hint="{{'Save Search'}}" ng-click='premadeCollection.saveSearch()'>
            <i class="fa fa-2x fa-floppy-o"></i>
        </span>
    </div>
</div>