<button class='expand' ng-disabled='page.editOpen' ng-click='premadeCollection.openNewEntry($event)' ng-if="masterData.userInfo.id != null || (!page.access.loginRequired && page.access.canCreate)"> Create a New Entry</button>
<span ng-if="(masterData.userInfo.id == null && page.access.loginRequired)">
    <p>You must be logged in post.</p>
</span>
<span ng-if="!page.access.canCreate">
    <p>You do not have permission to create an entry.</p>
</span>