<div class='pull-right'>
    <span ng-if="masterData.userInfo.id != null && page.access.canDelete == true">
        <span ng-if="(masterData.userInfo.id == entry.firebaseId) || (firebasePermission.fbIDmustMatchEntryId_delete == false) || page.access.canDelete == true">
            <span style='margin-left: 5px' class='tiny pull-right hint--top has-tip' ng-disabled='page.editOpen' ng-click='deleteBtn.value = $index; premadeCollection.deleteEntry(entry.id, deleteBtn.value)' data-hint="{{'Delete'}}">
                <i class="fa fa-times"></i>
            </span>
        </span>
    </span>
    <span ng-if="masterData.userInfo.id == null && page.access.canDelete == true"></span>
</div>