<div class='small-12 pull-left'>
    <div class='small-12 pull-left' style='padding-bottom: 10px;'>
        <div class='small-8 pull-left' ng-if='collection.pagination.showSort'>
            <div style='margin-top: 5px'>
                <small>
                    <i class="fa" ng-class="{true: 'fa-sort-amount-asc', false: 'fa-sort-amount-desc'}[collection.pagination.reverse]"></i> &nbsp;&nbsp;&nbsp;
                    <span ng-repeat="entry in collection.searchFields.Field">
                        <span ng-if='collection.searchFields.isSearchable[$index]'><a ng-click='collection.pagination.reverse = !collection.pagination.reverse; collection.pagination.filterBy = entry; premadeCollection.setFilter() '>{{entry}}</a> |</span>
                    </span>
                </small>
            </div>
        </div>
        <div class='small-4 pull-right' ng-if='collection.pagination.showFilter'>
            <input class='pull-right' style='width: 100%; margin: 0;' type="text" ng-model='collection.filterSearch' ng-change='premadeCollection.filterCorrection()' placeholder='Filter for keywords'></input>
        </div>
    </div>
</div>