<div class='small-12 pull-left' style="padding: 5px">
    <centered>
        <button id='fetchFirst' class='small-2 tiny' ng-disabled='entryStatistics.hasFirst' ng-if='collection.pagination.showBackBtn' ng-click='premadeCollection.fetchFirst($event)'>
            <i class="fa fa-fast-backward"></i> First</button>
        <button id='fetchPrev' class='small-2 tiny' ng-disabled='entryStatistics.hasPrev' ng-if='collection.pagination.showBackBtn' ng-click='premadeCollection.fetchPrev($event)'>
            <i class="fa fa-backward"></i> Prev</button>
        <button id='fetchRandom' ng-if='collection.pagination.showRandomBtn' class='small-2 tiny' ng-click='premadeCollection.fetchRandom($event)'>
            <i class="fa fa-random"></i> Random</button>
        <button id='fetchNext' ng-if='collection.pagination.showNextBtn' ng-disabled='entryStatistics.hasNext' ng-click='premadeCollection.fetchNext($event)' class='small-2 tiny'>
            <i class="fa fa-forward"></i> Next</button>
        <button id='fetchRecent' class='small-2 tiny' ng-disabled='entryStatistics.hasLast' ng-if='collection.pagination.showNextBtn' ng-click='premadeCollection.fetchRecent($event)'>
            <i class="fa fa-fast-forward"></i> Most Recent</button>
    </centered>
</div>