<div class='small-3 left'>
    <h4>
        <span ng-if='collection.pagination.form == "single"'>Entries: {{collection.pagination.currentEntry + 1}} out of {{entryStatistics.total}}</span>
        <span ng-if='collection.pagination.form == "multi" '>Entries: {{filtered.length}} / {{entryStatistics.total}}</span>
        <span ng-if='collection.pagination.form == "multip"'>Total Entries: {{entryStatistics.total}}</span>
    </h4>
</div>