<div ng-init="initCore.init()">
    <div id='nt-overlay-btn' class='hidden' ng-click="mainCore.offCanvasRevel()">
        <br>
        <br>
        <i class="fa fa-angle-double-right"></i>
    </div>
</div>