<div class='class-12'>
	<centered>
		<h5>
			<small># {{entry.id}}</small>
		</h5>
	</centered>
</div>										
<div class='class-12'>
	<centered>
		<h3>
			{{entry.title}}
		</h3>
	</centered>
</div>
<div class='class-12'>
	<centered>
		<p>
			<small>by {{entry.author}} ({{entry.age}})</small><br>			 										
		</p>
	</centered>
</div>
<div class='class-12'>
	<div class='small-2 pull-left'>
		<div ng-repeat="image in entry.images">	
			<centered>			 										
				<img ng-src="{{image.thumbnail}}" class="img-responsive" ng-click="mainCore.pictureBox(entry.images, $index)" />				 									
				<p><small><em>{{image.caption | characters:15}}</em></small></p>
			</centered>
		</div>
	</div>			 							
	<div class='small-10 columns pull-right'>
		<div  ng-bind-html="entry.post | trusthtml"  ></div>
	</div>

	<div class='small-12 pull-left'>
		<centered>
			<small>
				<h5 am-time-ago="entry.creationdate"></h5>
			</small>
		</centered>
	</div>
</div>