<div class='class-12'>
		<p>
			<small>by {{entry.author}} ({{entry.age}})</small><br>			 										
		</p>	
</div>										
<div class='class-12'>
		<h3>
			{{entry.title}}
		</h3>
</div>
<div class='class-12'>

</div>
<div class='class-12'>		 							
	<div class='small-12 pull-left'>
		<div  ng-bind-html="entry.post | trusthtml"  ></div>
	</div>

	<div class='small-12 pull-left'>
			<small>
				<h5 am-time-ago="entry.creationdate"></h5>
			</small>	
	</div>
</div>