<div id='content-page' class='initialHide' >	
	
	<!-- PAGE NAME -->
	<div class="row">
		<div class="small-12 columns">
				<h1>Admin Only Page (Standard)</h1>				
				<br>
				
				
		</div>		
	</div>
	
	<div ng-if="page.isLoaded == true" >
	
		<!-- LOGIN/REGISTER -->
		<div class="row" ng-if="masterData.logState == false">
			<div class="small-6 small-offset-3 columns">
				<button ng-click='mainCore.adminLogin()' class='small-12 button'>Sign In</button>
				<button ng-click='mainCore.resetPassword()' class='small-12 button'>Forgot Passsword</button>
				<button ng-click='mainCore.createNewAccount()' class='small-12 button'>Register</button>
			</div>	
		</div>		
	
	
		<!-- PAGE NAME -->	
		<div class="row" ng-if="masterData.logState == true">
			<div class="small-12 medium-6 columns pull-left">
						<h3>Profile Pic</h3>			
						<hr>
						<centered>
						  <img style='max-height: 200px; width: auto' ng-src='{{masterData.userInfo.avatar.standard}}'></img>
						</centered>
			</div>	
			
			
			
			<div class="small-12 medium-6 columns pull-left">
					<h3>User Info</h3>				
					<hr>
					<div class="small-12 columns pull-left">
					<ul>
						<h5>
							<li>User Name: {{masterData.userInfo.userName}}</li>
							<li>ID#: {{masterData.userInfo.id}}</li>
							<li>Email: {{masterData.userInfo.email}}</li>
							<li>First Name: {{masterData.userInfo.firstName}}</li>
							<li>Last Name: {{masterData.userInfo.lastName}}</li>	
						</h5>
					</ul>	
					
					<h3>Access Level</h3>				
					<br>
					<ul>
						<h5>
							<li>Is User: {{masterData.accessLevel.isUser}}</li>
							<li>Permission: {{masterData.accessLevel.permission}}</li>
							<li>Permission Level: {{masterData.accessLevel.value}}</li>
						</h5>
					</ul>
									
					</div>
					
					<div class="small-12 columns">
						<br><br><br>
						<button class='expand' ng-click="mainCore.editAccount()">Edit Account</button>
						<button class='expand' ng-click="mainCore.editPicture()">Change Profile Picture</button>
						<button class='expand' ng-click="mainCore.changePassword()">Change Password</button>
						<button class='expand alert' ng-click="mainCore.deleteMyAccount()">Delete Account</button>
					</div>
			</div>			
		</div>
		
		
	</div>
	<!-- END PAGE -->
	

</div>