<div id='content-page' class='initialHide'>
	
	<!-- PAGE NAME -->
	<div ng-if='page.isLoaded == true'>
		<div class="row">
			<div class="small-12 columns">
					<gap></gap>
						<h1>POSTS (MOBILE)</h1>				
					<gap></gap>		
					
					<!-- COLLECTION FORM EXAMPLE -->
	 				<div class='small-6 pull-left columns'>
	 				 	<button ng-click='premadeCollection.openNewEntry($event)'>Open Collection Form</button>		
					</div>		
	 				<div class='small-12 pull-right columns'>
 						<div ng-repeat="entry in allCollected">
 							<hr>
 							<button ng-click='premadeCollection.editEntry($event, entry.id)' class='button tiny pull-right'>Edit Entry</button>
 							<button ng-click='premadeCollection.deletePost(entry.id)' class='button danger tiny pull-right'>Delete Entry</button>
 							<h5>{{entry.id}}: {{entry.title}}</h5>
 							<div ng-bind-html="entry.post"></div>
 							<small><quote>- {{entry.author}}</quote></small>
 							<h5 am-time-ago="entry.date"></h5>
 							<hr>
 							<br><br>
 						</div>
					</div>	
					<!-- END COLLECTION FORM EXAMPLE -->							 					
						
			</div>		
		</div>
	</div>	
	
</div>