<!-- PAGE ROOT -->
<div id='content-page' class='initialHide' >

	<!-- PAGE -->
	<div ng-if='page.isLoaded == true'>
		<div class="row">
			
			<!-- PAGE CONTAINER -->
			<div class="small-12 columns">
					
					
					<!-- PAGE TITLE -->
					<div class="small-12 columns">
							<gap></gap>							
									<h1>Redirect</h1>	
									<p>You don't have the proper security settings to access that page.  Sorry!</p>					
							<gap></gap>			
					</div>	
					<!-- end page title -->
					 
					 
		 					
			</div>
				
		</div>
	</div>	
	<!-- end page -->
	
</div>
<!-- end page root -->