<div id='siteContent'>
	<br><br>
    <ng-include ng-if='collection.pagination.showLoading' ng-show="loadingEntries == true" src="page.theming['loadingScreen.html']"></ng-include>
    <div id='content-page' class='initialHide'>
        <div ng-if='page.isLoaded == true'>
            <div ng-if="page.hasErrors">
                <div class="small-12">
                    <centered>
                        <h1>Error on Page</h1>
                        <h5>Check your _pagedata table</h5>
                    </centered>
                </div>
            </div>
            
            
        	<div class='full-width row' ng-repeat='script in collection.pagination.prescripts'>   
        			<br>
        			<ng-include  ng-if='script.deploy'  src="'templates/general/' + script.folder + '/' + script.template"></ng-include>	
        	</div>            
            
            <div ng-class='{true: "full-width"}[page.settings.fullWidth]' class="row">
                <div class="small-12">
                	

                	
                    <ng-include ng-if='collection.pagination.showHeader' class='small-12' src="page.theming['header.html']"></ng-include>
                    
                    
                    <div ng-if="page.settings.noTableError">
                        <div class="small-12">
                            <centered>
                                <br>
                                <br>
                                <h1>Table does not exist</h1>
                                <h5>If you're an admin, assign a template in the page settings -> presentation.</h5>
                            </centered>
                        </div>
                    </div>
                    
                    <div ng-if="page.access.canRead == false">
                        <p>You do not have the proper permission to view page contents.</p>
                    </div>
                    
                    <div ng-if="(loadingEntries == false && page.access.canRead == true) && !page.settings.noTable">
                        <div class='content-entry-container-all' ng-class='{true: "content-column-full", false: "content-column-standard columns"}[page.settings.fullWidth]'>
                            <br>
                            <br>
                            <ng-include src="page.theming['createEntry.html']"></ng-include>
                        </div>
                        <div id='contentAnchor'></div>
                        <div class='small-12 pull-left'>
                            <div class='small-12 left content-entry-header'>
                                <div ng-class='{true: "content-column-full", false: "content-column-standard columns"}[page.settings.fullWidth]'>
                                    <ng-include ng-if='collection.pagination.form == "multi" || collection.pagination.form == "multip"' src="page.theming['filterSearch.html']"></ng-include>
                                    <ng-include ng-if='collection.pagination.form == "single" && !premadeCollection.isUsingAdvanced' src="page.theming['singleButtons.html']"></ng-include>
                                    <ng-include ng-if='collection.pagination.form == "multip" && !premadeCollection.isUsingAdvanced' src="page.theming['multipButtons.html']"></ng-include>
                                </div>
                            </div>
                            <ng-include ng-if="entryStatistics.total == 0" src="page.theming['noEntries.html']"></ng-include>
                            <div class='content-entry-container-all' infinite-scroll="premadeCollection.fetchAuto()" infinite-scroll-disabled='collection.isAutoDisabled' ng-class='{true: "content-column-full", false: "content-column-standard columns"}[page.settings.fullWidth]'>
                                <div class='small-12 medium-12 columns content-entry-container left' ng-class='{true: "content-column-full", false: "content-column-standard columns"}[page.settings.fullWidth]' ng-repeat="entry in filtered = (collection.userEntries | filter:collection.filterSearch)" ng-style='myStyle'>
                                    <div ng-class='{true: "actionButtons-full", false: "actionButtons-standard"}[page.settings.fullWidth]'>
                                        <ng-include src="page.theming['deleteEntry.html']"></ng-include>
                                        <ng-include src="page.theming['editEntry.html']"></ng-include>
                                    </div>
                                    <ng-include ng-click='premadeCollection.loadFullEntry($index)' src="premadeCollection.layoutUrl($index)"></ng-include>
                                </div>
                            </div>
                            <div class='small-12 left content-entry-footer'>
                                <div ng-class='{true: "content-column-full", false: "content-column-standard columns"}[page.settings.fullWidth]'>
                                    <ng-include ng-if='collection.pagination.showTotalEntries' src="page.theming['totalEntries.html']"></ng-include>
                                    <ng-include ng-if='collection.pagination.form == "multi" && entryStatistics.hasMore' src="page.theming['multiButtons.html']"></ng-include>
                                    <ng-include ng-if='premadeCollection.isUsingAdvanced' src="page.theming['clearButton.html']"></ng-include>
                                    <ng-include ng-if='collection.pagination.showPagination == true' src="page.theming['pagination.html']"></ng-include>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    
                </div>
            </div>
            
        	<div class='full-width' ng-repeat='script in collection.pagination.postscripts'>            		
        		<ng-include  ng-if='script.deploy'  src="'templates/general/' + script.folder + '/' + script.template"></ng-include>
        	</div>              
            
        </div>
    </div>
</div>