
	<!-- POST MODAL -->
	<script type="text/ng-template" id="db_post_Modal.html">		
		
		<a class="close-reveal-modal" ng-click="close()"><i class="fa fa-caret-square-o-left"></i></a>			
		
		<div class='modal-container' ng-init="init()">			
			<div style="max-width: 600px; width: 100%" class="modal-body">	
				<div ng-class="{true: 'hidden', false: 'visible'}[isLoading]">
					<div class="row">
						<div class="small-12 columns">
	
								<br>
								<div id='php-form'>
									
									<!-- createNewEntry() requires the model - in this case tableFields - as a parameter -->
									<div ng-repeat="field in tableFields.form" ng-if='field.noshow != true'>		
										
										<!-- CAPTURE TYPES -->
										<div ng-if="(field.inputType == 'input') && field.autoFill == false" >
											<div ng-class="{true: 'hidden'}[field.isHidden]" ng-include  src="'modals/forms/components/input.html'"></div>	
										</div>
										
										<div ng-if="(field.inputType == 'textarea') && field.autoFill == false" >
											<div ng-class="{true: 'hidden'}[field.isHidden]" ng-include  src="'modals/forms/components/textarea.html'"></div>	
										</div>	
										
										<div ng-if="(field.inputType == 'adv') && field.autoFill == false" >
											<div ng-class="{true: 'hidden'}[field.isHidden]" ng-include  src="'modals/forms/components/advanced.html'"></div>	
										</div>		
										
										<!-- SPECIAL -->
										<div ng-if="(field.inputType == 'boolean')">
											<div ng-class="{true: 'hidden'}[field.isHidden]" ng-include  src="'modals/forms/components/boolean.html'"></div>	
										</div>											
										<div ng-if="(field.inputType == 'date')">
											<div ng-class="{true: 'hidden'}[field.isHidden]" ng-include  src="'modals/forms/components/date.html'"></div>			
										</div>	
										<div ng-if="(field.inputType == 'time')">
											<div ng-class="{true: 'hidden'}[field.isHidden]" ng-include  src="'modals/forms/components/time.html'"></div>			
										</div>	
										
										
										<!-- AUTO FILLS -->
										<div ng-if="field.autoFill == true">
											<div ng-if="field.autoCollect == '_id'" 	ng-class="{true: 'hidden'}[field.isHidden]" ng-include  src="'modals/forms/components/auto_id.html'"></div>
											<div ng-if="field.autoCollect == '_fname'"  ng-class="{true: 'hidden'}[field.isHidden]" ng-include  src="'modals/forms/components/auto_fname.html'"></div>
											<div ng-if="field.autoCollect == '_lname'"  ng-class="{true: 'hidden'}[field.isHidden]" ng-include  src="'modals/forms/components/auto_lname.html'"></div>
											<div ng-if="field.autoCollect == '_username'"  ng-class="{true: 'hidden'}[field.isHidden]" ng-include  src="'modals/forms/components/auto_username.html'"></div>
											<div ng-if="field.autoCollect == '_email'"  ng-class="{true: 'hidden'}[field.isHidden]" ng-include  src="'modals/forms/components/auto_email.html'"></div>
											<div ng-if="field.autoCollect == '_access'"  ng-class="{true: 'hidden'}[field.isHidden]" ng-include  src="'modals/forms/components/auto_access.html'"></div>	
										</div>		
											 	
										<!-- FILE UPLOADS -->
										<div ng-if="(field.inputType == 'imageUpload')">
											<div ng-class="{true: 'hidden'}[field.isHidden]" ng-include  src="'modals/forms/components/fileUpload.html'"></div>			
										</div>		 	
											 								
									</div>
																		
								</div>
								<hr>
								<div class="small-12">
									<button id='formSubmitBtn' 
										class='hidden expand'
										ng-disabled="(tableFields.meta.required > 0 && imageValidation == false) || 
													 (tableFields.meta.required > 0 || imageValidation == false)" 										 
										ng-if='tableFields.form != null' 										
										ng-click='submitPost("posts")'>Submit
									</button>	
								</div>

						</div>
					</div>			
				</div>
			</div>
		</div>
		
	</script>
  	<!-- END MODAL -->
  	
  	
  	

	<!-- ADV FILTER MODAL -->
	<script type="text/ng-template" id="advSearchModal.html">
				
		<a class="close-reveal-modal" ng-click="close()"><i class="fa fa-caret-square-o-left"></i></a>	
				
		<div class='modal-container' ng-init="init()">
			<div style="max-width: 600px; width: 100%" class="modal-body">	
				
				<div class="row">
					<h3>ADVANCED SEARCH</h3>
					<br>
					<hr>
						<div class="small-12">
							
							<div  ng-repeat="row in inputData">
								
								<div class='small-2 medium-1 left'>
									<centered>
									<span class='fix-a' ng-click="inputData.splice($index, 1)" >
										<i style='margin-top: 10px' class="fa fa-times-circle"></i>
									</span>
									</centered>
								</div>
								<div class='small-5 medium-3 left'>
									<select ng-options="field for field in formData.fields" 
											ng-model="row.type.name"
											ng-change="row.operator = null; row.input = null; row.type.type = typeData[fieldData[row.type.name]] " 
											ng-init="row.type.name = row.type.actual || formData.fields[0]; row.type.type = typeData[fieldData[row.type.name]] ">
									</select>		
								</div>	
								
								<div class='small-5 medium-4 left'>	
									<div ng-if="(row.type.type == 'char') || (row.type.type == 'varchar') || (row.type.type == 'text') ||
												(row.type.type == 'tinytext') || (row.type.type == 'mediumtext') || (row.type.type == 'largetext')">
										<select ng-options="operator.actual as operator.label for operator in typeOfOperator_text" 
												ng-model="row.operator"
												>
										</select>	
									</div>
									
									<div ng-if="(row.type.type != 'char') && (row.type.type != 'varchar') && (row.type.type != 'text') &&
												(row.type.type != 'tinytext') && (row.type.type != 'mediumtext') && (row.type.type != 'largetext')">
										<select ng-options="operator.actual as operator.label for operator in typeOfOperator" 
												ng-model="row.operator"
												>
										</select>	
									</div>									
									
								</div>						
								<div class='small-12 medium-4 left' ng-if="row.operator != null">
									<!-- MOST TEXT AND NUMBER CAPTURE -->
									<div ng-if="(row.type.type != 'date') && (row.type.type != 'time')" >
										<input 	type='text'	style='width: 100%; padding: 5px; margin: 0' 
												ng-model="row.input" 
												placeholder='Enter keywords or phrases'>
									</div>
									<!-- DATE CAPTURE -->
									<div ng-if="(row.type.type == 'date')" >										
										<div 	sb-date-select 
												min="2000-12-31" 
												max="2016-12-31" 
												ng-model="row.input">
										</div>
									</div>		
									<!-- TIME CAPTURE -->
									<div ng-if="(row.type.type == 'time')">
										<input 	type='time'
												ng-model="row.input">
										</input>
									</div>																	
																
								</div>	
								
								<hr>
													
							</div>	
							<div class='medium-5 small-12 left'>
								<button class='button expand success' ng-click="inputData.push({type: {name: null, type: null}, operator: null, input: null})">Add Another Criteria</button>
							</div>
							
							<div class='medium-3 small-12 right'>
								<button class='button right expand' ng-click='runSearch();'>Search</button>
							</div>	

						</div>	
						<hr>
						
						<div class="small-12" ng-if="results.message != null">
							<div class="small-6 pull-left">
								<p>{{results.message}}</p>
							</div>
							<div class="small-6 pull-left" ng-if="results.length > 0">
								<button class='pull-right' ng-click='useResults()'>View Results</button>
							</div>							
							
						</div>
							
				</div>
					
			</div>			
		</div>
		
	</script>
  	<!-- END MODAL -->
  	  	
  
