<label><small>{{field.label}} <span class='pull-right' style='color: red' ng-if="field.isRequired == true"><i class="fa fa-exclamation"></i> Required</span></small></label>
<textarea 	
    ng-change='checkFormValidation()' 
	ui-tinymce="tinymceOptions"
	ng-model="inputData[$index]"
	ng-required="field.isRequired == true" 
	placeholder="{{field.placeholder}}"
	ng-init="decodeAdvFields($index)"
	>
</textarea>
<br>
