<label><small>{{field.label}} <span class='pull-right' style='color: red' ng-if="field.isRequired == true"><i class="fa fa-exclamation"></i> Required</span></small></label>

<div ng-init="inputData[$index] = masterData.userInfo.lastName">
  <h5 type='text'><strong></strong>{{inputData[$index]}}</h5>
</div>
