<label><small>{{field.label}} <span class='pull-right' style='color: red' ng-if="field.isRequired == true"><i class="fa fa-exclamation"></i> Required</span></small></label>
<select ng-change='checkFormValidation()' type='text' data-ng-model="inputData[$index]" ng-required="field.isRequired == true" >
	<option value="">{{field.placeholder}}</option>
	<option value="1">Yes</option>
	<option value="0">No</option>
</select>

