<label><small>{{field.label}} 	
	<span class='pull-right' style='color: red' ng-if="field.isRequired == true">	
	<i class="fa fa-exclamation"></i> Required</span></small>
</label>


<div sb-date-select min="1900-12-31" max="2016-12-31" ng-model="inputData[$index]" ng-change='checkFormValidation()' ></div>
<label class='pull-right' style='margin-top: -15px; cursor: default'>
	<small>
			<span class='isPointer' ng-click='setDate("today", $index)'>Today</span> | 
			<span class='isPointer' ng-click='setDate("tomorrow", $index)'>Tomorrow</span> | 
			<span class='isPointer' ng-click='setDate("yesterday", $index)'>Yesterday</span>
	</small>
</label>
<br>