<div class='small-12 left'>
	<label><small>{{field.label}}: (Limit of {{field.limit}} per entry) <span class='pull-right' style='color: red' ng-if="field.isRequired == true"><i class="fa fa-exclamation"></i> Required</span></small></label>	
	<div ng-init='parseImageUpload($index, field)' class="small-12 left">
							
							<div ng-if="field.isRequired == true">
								<div ng-init="checkOnFileUpload($index)"></div>
							</div>
							
					        <div class="small-6 pull-left">							        	
								<div class="file-input-wrapper">
								  <button class="btn-file-input"><small>File Select</small></button>
								  <input type="file" placeholder="Select Multiple Files" ng-file-select="previewImage($files, $index)" multiple />
								</div>								        	
					        </div>
							
							<div class="small-12 pull-left">		
							  <div ng-file-drop="previewImage($files, $index)" ng-file-drag-over-class="dropzone-ready"  ng-show="dropSupported" class="dropzone small-12 columns">			  	
							  	<div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
							  	
							  	<centered ng-class="{true: 'visible', false: 'hidden'}[inputData[$index].length < 1]">
							  		<br>
									<i class="fa fa-upload fa-3x"></i><br>	
									<small>Drop Files Here</small>					  		
							  	</centered>
							  	<div ng-repeat="image in inputData[$index] track by $index">						  		
							  		<div class="small-12 medium-4 columns">						  								  			
							  			<div class="dropzone-image-container">
							  				<button ng-click="removeImage($index, $parent.$index)" class="tiny expand alert">Delete</button>	
							  				<img ng-src="{{image.thumbnail}}" class="dropzone-image" />					  				
							  				<input ng-if='field.captions == true' ng-pattern-restrict="^$|^[a-zA-Z0-9 .:,!@#$%^]*$" style='width: 100%; font-size: 10px; overflow: hidden' ng-model='image.caption' placeholder='Insert a caption'> 	
							  			</div>	
							  			<br>					  							  	
							  		</div>
									
							  	</div>	
							  </div>
							  
							  
						</div>		 
						
	</div>	
	<hr>
</div>
