<label><small>{{field.label}} <span class='pull-right' style='color: red' ng-if="field.isRequired == true"><i class="fa fa-exclamation"></i> Required</span></small></label>
<div ng-if="!field.isDisabled">
  <input type='text' 	ng-change='checkFormValidation()' 
					    ng-pattern-restrict="{{field.textRestrict}}" 
					    ng-model='inputData[$index]'  
					    ng-required="field.isRequired == true" 
					    placeholder='{{field.placeholder}}'
					>
  </input>
</div>


<div ng-if="field.isDisabled">
  <p type='text'>{{inputData[$index]}}</p>
</div>