<label><small>{{field.label}} <span class='pull-right' style='color: red' ng-if="field.isRequired == true"><i class="fa fa-exclamation"></i> Required</span></small></label>
<input type='text' 	ng-change='checkFormValidation()'
					ng-pattern-restrict="{{field.textRestrict}}" 					
					ng-disabled='{{field.isDisabled}}'
					ng-model='inputData[$index]'  					 
					ng-required="field.isRequired == true" 
					placeholder='{{field.placeholder}}'
					ng-init="inputData[$index] = masterData.userInfo.id"
					>
</input>
