<label><small>{{field.label}} <span class='pull-right' style='color: red' ng-if="field.isRequired == true"><i class="fa fa-exclamation"></i> Required</span></small></label>
<input type='time' 	ng-change='checkFormValidation()' 
					ng-disabled='{{field.isDisabled}}' 
					ng-model='inputData[$index]'  
					ng-required="field.isRequired == true"; isRequired = "{{field.isRequired}}"
					placeholder='{{field.placeholder}}'
					ng-init='correctTime($index, field.textRestrict)'
					>
</input>

<label class='pull-right' style='margin-top: -15px; cursor: default'>
	<small>
		<span class='isPointer' ng-click='setTime("now", $index)'>Set Current Time</span>
	</small>
</label>
<br>
