<div class='row'>
	<br><br>
	
	<div class='small-12 left columns'>
			<h5>
				<small>#{{entry.id}}</small>
			</h5>
			
			<centered>
				<h3>
					Placeholder template
				</h3>
			</centered>
			
			
	</div>	
									

</div>