/* DEFAULT FONTS */
html {
	background-color: black;       /* TRANSITION START COLOR */
}


p, a, small, button{
	font-size: 1em;                /* <-- ALL OTHER SIZES ARE RELATIVE TO THIS ONE*/
	font-family: 'Lato', serif;
	color: inherit;  
	font-weight: 300;
} 

h1, h2, h3, h4, h5{
	font-family: 'Open Sans', sans-serif;
	color: inherit;  
	font-weight: 600;
}

button{
	background-color: #f3ab3a; 
	transition: background-color 300ms ease-out;
}

button:hover, button:focus, .button:hover, .button:focus{
	background-color: #ff9c00; 
	transition: background-color 300ms ease-out;
}


body {
	background-color: black;
	color: white; 
	overflow: visible !important;  /* KEEPS MODALS FROM ADDING AN EXTRA LAYER OF SCROLLBARS */
}

a:hover{
	color: inherit;
	text-decoration: none;  
}

input{
	color: black;
	padding: 8px; 
	margin-bottom: 15px; 
	border: 1px solid rgba(0, 0, 0, .25);
}


input.ng-invalid {
	color: red;
	border: 1px red solid;
}

label{
	color: inherit; 
}


/* CODE AND PRE */
pre,
code  {font-family: consolas, courier, monospace;
       font-size: .6em;
       line-height: 1.2em;
       white-space: pre; 
       background-color: white; 
       color: gray; /* likewise the background-color comment */

       padding: 1em;
       width: auto;
       height: auto;        
       margin-top: 1em;
       margin-bottom: 1em;
       
		 white-space: pre-wrap;       /* css-3 */
		 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		 white-space: -pre-wrap;      /* Opera 4-6 */
		 white-space: -o-pre-wrap;    /* Opera 7 */
		 word-wrap: break-word;       /* Internet Explorer 5.5+ */       
}

pre:hover{
	color: black; 
}

#nt-script-editor{
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: bolder;
	line-height: 20.3999996185303px;
}

#content-page{
	overflow: hidden;
}


#parallax-container{
	position: fixed;
	top: 0;	
	z-index: -1;
}

#nt-colorContainer{
	position: fixed; 
	width: 100%; 
	height: 100%; 
	background-color: rgba(26, 26, 32, 1); 
	z-index: -1
}


/* HEADER MAIN */
#headerMain a{
	color: white;
	font-size: .8em;
}

#headerMain .header-bar{
	background-color: #747474; 
	color: white; 
	width: 100%; 
	height: auto; 
	padding: 10px;	
}

#headerGap{
	width: 100%;	
	height:1px;
	background-color: rgba(45, 27, 37, 1);
}

/*FOOTER */
#footer-div{
	
	width: 100%; 
	height: auto;
	background-color: rgba(45, 27, 37, 1);	
}

#inner-footer{
	width: 100%; 
	height: auto; 
	background-color: #747474;
}

#header-div{
	height: auto;
}



/* KEYWORD SEARCH */
#nt-keyword-search{
	/*NONE*/
}

#nt-keyword-search-btn{
	/*NONE*/
}

#

#nt-keyword-search-clear{
	/*NONE*/
}

#nt-content-header{
	display:inline-block;
	background-color: rgba(0, 0, 0, 1);
	padding: 20px 30px; 
}

#nt-no-entries{
	color: white;
	background-color: rgba(0, 0, 0, .8);
	padding: 20px;
	border-radius: 10px;
}


/*  OVERLAY BUTTON */
#nt-overlay-btn{
	position: fixed;
	width: 25px;
	height: 140px;
	left: 0; 
	top: 35%;	
	z-index: 910; 	
	background-color: rgba(33, 34, 36, 1);
	color: white;  
	border-radius: 5px 5px;
	padding-top: 5px;	
	padding-left: 10px;
	margin-left: -10px;
	vertical-align: middle;
	cursor: pointer;
}



/* MODAL */
.read-more{
	cursor: pointer;
	color: inherit;
}

.modal-body{
	color: black;
	z-index: 9000;
}

.reveal-modal{
	opacity: 0;
}



/* CLASSES */
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}


.fonttype-1{
	font-family: 'Arvo', serif;
}

.fonttype-2{
	font-family: 'Lora', serif;
}

.isPointer {
	cursor: pointer; 
}

.content-default-height{
	min-height: 900px /* DEFAULT MINIMUM HEIGHT */
}

.fix-a{	
	text-decoration: none;
	cursor: pointer; 	
}

.ta-editor{
	padding: 10px; 
	background-color: #bdc3c7; 
}

.initialHide{
	height: 0px;
	opacity: 0;
}

.doNotDisplay{
	display: none;
}

.hidden{
	opacity: 0px;
}

.vanish{
	opacity: 0;
	height: 0px;
	transition: .25s;
	pointer-events: none;
}

.reveal{
	opacity: 1;
	height: auto;
	transition: .25s;
	pointer-events: auto;
}


/* // TEXT-angular */ 
.ta-root{
	margin-bottom: 20px;
	border: 1px solid rgba(0, 0, 0, .8);
	border-radius: 3px;	
}


.ta-root p{
	font-size: .75em;
}


.ta-btn-toolbar{
	background-color: #bdc3c7;
	padding: 7px;
	height: auto;
	text-align: center;	
}

.ta-btn-group{
	height: auto;
	padding: 0px;
	margin: 0px;
}

.ta-btn{
	width: auto;
	height: auto;
	padding: 7px;
	margin-right: 4px;
	margin-bottom: 4px;
	font-size: .65em;
	border-radius: 3px;	
}

.ta-wordcount{
	display: none;
	height: auto;
}

.ta-chrcount{
	display: none;
	height: auto;	
}

.ta-form-control{
	
}

.border-around{
	
}


.ta-bind{	
	padding: 5px; 
	border-radius: 3px;	
 	border: 1px dashed gray;
 	background-color: white;
}

.ta-bind:hover{
	border: 1px solid black;
}

.ta-focussed .ta-editor{
		
	
}


.ng-invalid-required{
	border: 1px solid red!important; 
}


.covervid-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}



.parallax-scroll-main{ 
	
	background-repeat:repeat;
	background-attachment:fixed;
	height: auto;  
	margin: 0 auto; 
    position: fixed; 
    width: 100%; 
    height: 100%;
    
}

.full-width{
	max-width: 100%;
}

.content-entry-header{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(0, 0, 0, 0)
}



.content-entry-footer{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(0, 0, 0, 0)
}

.content-entry-container-all{
	display: block;
	width: 100%;
}

.content-column-full{
	display: block;
	padding-left: 50px;
	padding-right: 50px;
}

.content-entry-container{	
	padding: 0px;
	background-color: rgba(250, 250, 250, 1);
	color: #747474;
	margin-bottom: 30px; 
	border-radius: 0px;
	border: 2px solid white;
}

.content-column-standard{
	padding-left: 20px;		
}


.actionButtons-standard{
	position: relative; 
	padding: 10px; 
	z-index: 100
	width: auto;
	height: auto;
}

.actionButtons-full{
	position: relative; 
	padding: 10px;
	z-index: 100; 
	width: auto;
	height: auto;
}

.uniform-form button{
 
	font-family: 'Lora', serif;
	font-size: .75em;
	
	width: 100%;
	height: 37px;
	
}

.uniform-form input{
	font-family: 'Lora', serif
	font-size: .75em;
	
	width: 100%;
	height: 37px;
	padding: 5px; 
	margin: 0;	

}

.uniform-form p{
 	margin-top: 7px;
	font-family: 'Lora', serif;
	font-size: .75em;
}

.uniform-form i{
	position: absolute; 
	margin-top: -6px; 
	left: 42%	
}


/* SLIDER BEHAVIOR */
.slider-inactive{
	opacity: 0;	
}

.slider-active{
	opacity: 1;	
}

