
/* DEFAULT SIZES */
body{
	min-width: 640px;
}

h1{
	font-size: 3em;
}

h2{	
	font-size: 2em;
}

h3{
	font-size: 1em;
}

h4{
	font-size: .85em;
}

h5{
	font-size: .8em;
}

small{
	font-size: .75em;
}


/*  LOADING SCREEN */
#nt-loading-screen{
	position: fixed; 
	top: 20%;
	left: 50%;	
	margin-left: -150px;
	width: 300px; 
	height: 100px; 
	z-index: 1000; 
	padding: 15px;
	background-color: rgba(250, 250, 250, 1); 
	color: black;
	border-radius: 10px 10px;
}



/*  SEARCH BAR */
.nt-group-sidebar-btn-show{
	transition: .5s;
	margin-right: -10px;	
}
.nt-group-sidebar-btn-hide{
	transition: .5s;
	margin-right: -25px;	
}

/* SIDE BAR BUTTONS */
#nt-search-btn{
	width: 65px;
	height: 50px;
	position: fixed;
	right: 0; 
	top: 15%;	
	z-index: 910; 	
	background-color: rgba(33, 34, 36, 1);
	color: white;  
	border-radius: 10px 10px;
	padding-top: 14px;	
	padding-left: 10px;
}

#nt-adv-search-btn{
	width: 65px;
	height: 50px;
	position: fixed;
	right: 0; 
	top: 30%;	
	z-index: 910; 	
	background-color: rgba(33, 34, 36, 1);
	color: white;  
	border-radius: 10px 10px;
	padding-top: 14px;		
	padding-left: 10px;
}

#nt-editor-btn{
	width: 65px;
	height: 50px;
	position: fixed;
	right: 0; 
	top: 45%;	
	z-index: 910; 	
	background-color: rgba(33, 34, 36, 1);
	color: white;  
	border-radius: 10px 10px;
	padding-top: 14px;	
	padding-left: 10px;
}

#nt-layout-btn{
	width: 65px;
	height: 50px;
	position: fixed;
	right: 0; 
	top: 60%;	
	z-index: 910; 	
	background-color: rgba(33, 34, 36, 1);
	color: white;  
	border-radius: 10px 10px;
	padding-top: 14px;	
	padding-left: 10px;
}





/* END ADVENCED BUTTON */




/* search bar */
#nt-search-bar{
	position: fixed; 
	z-index: 99000; 
	width: 100%; 
	max-width: 500px;
	height: 80px; 
	top: 0; 
	right: 0; 
	margin-top: -80px;
	background-color: gray; 
	padding: 20px;
	border-radius: 0px 0px 10px 10px;
}




/* BOTTOM AND SIDEBAR */
#nt-editor-bottom{
	position: fixed; 
	z-index: 99910; 
	width: 100%; 
	height: 75px; 
	bottom: -75px; 
	left: 0px; 
	background-color: rgba(43, 44, 46, 1);
	opacity: 1;
}


#nt-editor-sidebar{
	position: fixed; 
	z-index: 99900; 
	width: 75px; 
	height: 100%;
	margin-left: -75px; 
	top: 0; 
	left: 0px; 
	background-color: rgba(33, 34, 36, 1);
	opacity: 1;
}
/*//////////////////*/


