<div class='row'>
	<br><br>
	
	<div class='small-9 left columns'>
			<h5>
				<small># {{entry.id}} | {{entry.name}}</small>
			</h5>
			
			<h1>
				{{entry.charactername}} 		
			</h1>		
	
			<div  ng-bind-html="entry.biography | trusthtml"  ></div>	
			
	</div>	
										
	<div class='small-2 left'>
		<div ng-repeat="image in entry.images">	
			<centered>			 										
				<img ng-src="{{image.thumbnail}}" class="img-responsive" ng-click="mainCore.pictureBox(entry.images, $index)" />				 									
				<p><small><em>{{image.caption | characters:15}}</em></small></p>
			</centered>
		</div>
	</div>
</div>