<div class="small-12">
<h1>{{entry.id}}: &nbsp;{{entry.name}}</h1>
</div>
<hr />
<div class='small-3 columns left' ng-repeat="image in entry.images"> 
  <img ng-src="{{image.thumbnail}}" class="img-responsive" ng-click="mainCore.pictureBox(entry.images, $index)"/> 
  <p><small><em>{{image.caption | characters:15}}</em></small></p> 
</div>	
<hr>
<div class="small-12">{{entry.charactername}}</div>
<div ng-bind-html="entry.biography| trusthtml"></div>

<div class='small-10 small-offset-1 fade-slider slider-inactive'>
	<div ng-repeat="image in entry.images"> 
	  <img ng-src="{{image.src}}" class="img-responsive" ng-click="mainCore.pictureBox(entry.images, $index)"/> 
	  <p><small><em>{{image.caption | characters:15}}</em></small></p> 
	</div>
</div>

<div class="small-12"><span style="text-decoration: line-through;">{{entry.uploader}}</span></div>

<div class='small-10 small-offset-1 fade-slider slider-inactive'> 
  <div ng-repeat="image in entry.images">  
  <img ng-src="{{image.src}}" class='img-responsive'>  
  <p><small><em>{{image.caption | characters:15}}</em></small></p> 
  </div> 
</div>	

<div class='small-10 small-offset-1 slideshow-slider slider-inactive'> 
  <div ng-repeat="image in entry.images">  
  <img ng-src="{{image.src}}" class='img-responsive' >  
  <p><small><em>{{image.caption | characters:15}}</em></small></p> 
  </div> 
</div>	