<div class="row"><br />
<div class="small-12 pull-left columns">
<h5><small># {{entry.id}} </small></h5>
<h1><small>See what</small> {{entry.name}} <small>submitted!</small></h1>
<br /><hr />
<div ng-bind-html="entry.biography| trusthtml"></div>
<hr /></div>
</div>