	
  	
	<!-- CONFIRM MODAL -->
	<script type="text/ng-template" id="confirmModal.html">
		<div style="max-width: 600px; width: 100%" class="modal-body">
			<h3>{{data.header}}</h3>
			<br><br>
			<centered>	
				<button class="button" ng-click="yes()" style="margin: 20px">{{data.field1}}</button>
				<button class="button" ng-click="no()"  style="margin: 20px">{{data.field2}}</button>
			</centered>			
		</div>
		<a class="close-reveal-modal" ng-click="cancel()"><i class="fa fa-caret-square-o-left"></i></a>
	</script>
  	<!-- END MODAL -->  	
  	
	
	<!-- CHOICE MODAL -->
	<script type="text/ng-template" id="choiceModal.html">
		<div style="max-width: 600px; width: 100%" class="modal-body">
			<div class='small-12'>
			    <h3>{{data.header}}</h3>
			    <ul>
			      <li ng-repeat="item in data.options">
			        <a ng-click="selected.item = item">{{ item }}</a>
			      </li>
			    </ul>
			    <p>Selected: <b>{{ selected.item }}</b></p>
		    </div>
		    <div class='small-12'>
		    	<button ng-if="selected.item != '' && selected.item != undefined" class="button pull-right" ng-click="ok()">OK</button> 
		    </div>
	   </div>
	   <a class="close-reveal-modal" ng-click="cancel()"><i class="fa fa-caret-square-o-left"></i></a>
	</script>
	


	<!-- SPLASH MODAL -->
	<script type="text/ng-template" id="splashModal.html">
		<div style="max-width: 600px; width: 100%" class="modal-body">
			<centered>
				<div class='row'>
					<div class='small-12'>
						<p>{{randomQuote}}</p>
						<centered>
							<img src='production/images/animated/splashLoader.gif' class=''>
						</centered>
					</div>
				</div>
			</centered>
		</div>
	</script>


	<!-- THINKING MODAL -->
	<script type="text/ng-template" id="thinkingModal.html">
		<div style="max-width: 600px; width: 100%" class="modal-body">
				<div class='row'>
					<div class='small-12'>			
					<centered>
						<p>Loading... please wait...</p>
						<centered>
							<img src='production/images/animated/splashLoader.gif'  class=''>
						<centered>
					</centered>
					</div>
				</div>						
		</div>
	</script>
	
	
	<!-- PICTURE MODAL -->
	<script type="text/ng-template" id="pictureModal.html">
		<div style="max-width: 600px; width: 100%" class="modal-body">
				<div class='row'>
					<div class='small-12 columns'>
						<div class='small-1 left columns'>
							<br>
							<span ng-if='listOfImages.length > 1' ng-click='prev()'><i class="fa fa-2x fa-arrow-circle-left isPointer"></i></span>
						</div>					
						<div class='small-1 right columns'>	
							<br>					
							<span ng-if='listOfImages.length > 1' ng-click='next()'><i class="fa fa-2x fa-arrow-circle-right isPointer"></i></span>
						</div>	
					</div>						
					
					<div class='small-12 columns'>
							<centered>	
								<p>{{currentSlide + 1}}/{{listOfImages.length}}</p>							
								<img ng-src='{{listOfImages[currentSlide].src}}' class='img-responsive'>
								<p><em><small>{{listOfImages[currentSlide].caption}}</small></em></p>
							</centered>
					</div>	
					<div class='small-12 columns'>
						<div class='small-1 left columns'>
							<br>
							<span ng-if='listOfImages.length > 1' ng-click='prev()'><i class="fa fa-2x fa-arrow-circle-left isPointer"></i></span>
						</div>					
						<div class='small-1 right columns'>	
							<br>					
							<span ng-if='listOfImages.length > 1' ng-click='next()'><i class="fa fa-2x fa-arrow-circle-right isPointer"></i></span>
						</div>	
					</div>				
				</div>						
		</div>
		<a class="close-reveal-modal" ng-click="dismiss()"><i class="fa fa-caret-square-o-left"></i></a>
	</script>
	

  	
  	
	<!-- MODAL CONTENTS -->
	<script type="text/ng-template" id="browserInfoModal.html" >
		<div style="max-width: 600px; width: 100%" class="modal-body">			
			<div class='row'>
				<div class='small-12 medium-6 pull-left'>
					<small>Browser information</small>
					<br><br>
					<h3>User Information</h3>
					<h5>OS: <strong>{{details.os.name}}</strong></h5>
					<h5>- Version: <strong>{{details.os.version}}</strong></h5>		
					<h5>Browser: <strong>{{details.browser.name}}</strong></h5>
					<h5>- Selected: <strong>{{detectedType}}</strong></h5>
					<h5>- Version: <strong>{{details.browser.version}}</strong></h5>
					<h5>- Mobile: <strong>{{details.mobile}}</strong></h5>
					<h5>- Cookies Enabled: <strong>{{details.cookiesEnabled}}</strong></h5>
					<h5>Screensize: <strong>{{details.screenSize.width}} x {{details.screenSize.height}}</strong></h5>
					<h5>Windowsize: <strong>{{details.windowSize.width}} x {{details.windowSize.height}}</strong></h5>	
				</div>
				<div class='show-for-small-only'>
					<gap></gap>
				</div>
				<div class='small-12 medium-6 pull-right'>
					<br><br>
						<centered>
							<img ng-src="{{detected}}" class="img-thumbnail" />			
						</centered>
					<br><br>
				</div>
				<div class='small-12'>
					<gap></gap>
				</div>
				<div class='small-12 pull-left'>
					<br><br>
						<centered>
							<small>NimbleTin Engine by Allen Royston | 2015</small><br>
							<small><a href="http://www.codeandlogic.com">www.codeandlogic.com</a></small>
						</centered>
				</div>
			</div>
		</div>
		<a class="close-reveal-modal" ng-click="dismiss()"><i class="fa fa-caret-square-o-left"></i></a>
	</script>
	<!-- END MODAL -->  	
