<div id='nt-editor-sidebar' class='hidden'>
    <div class='row'>
        <br>
        <div class='small-12'>
            <centered>
                <span ng-click='editCore.editSystemSettings()' class='isPointer hint--right has-tip' data-hint="{{'System Settings'}}">
                    <i class='fa fa-2x fa-database'></i>
                </span>
            </centered>
        </div>
        <hr>
        <div class='small-12'>
            <centered>
                <span ng-click='editCore.editPageSettings()' class='isPointer hint--right has-tip' data-hint="{{'Page Settings'}}">
                    <i class='fa fa-2x fa-cogs'></i>
                </span>
            </centered>
        </div>
        <hr>
        <div class='small-12'>
            <centered>
                <span ng-click='editCore.editCollections()' class='isPointer hint--right has-tip' data-hint="{{'Collection Settings'}}">
                    <i class="fa fa-2x fa-sitemap"></i>
                </span>
            </centered>
        </div>
        <hr>
        <div class='small-12'>
            <centered>
                <span ng-click='editCore.scriptCreator()' class='isPointer hint--right has-tip' data-hint="{{'Script Creator'}}">
                    <i class="fa fa-2x fa-file-code-o"></i>
                </span>
            </centered>
        </div>
        <hr>
        <div class='small-12'>
            <centered>
                <span ng-click='editCore.mediaManager()' class='isPointer hint--right has-tip' data-hint="{{'Media Manager'}}">
                    <i class="fa fa-2x fa-play-circle-o"></i>
                </span>
            </centered>
        </div>
        <hr>
    </div>
</div>
<div id='nt-editor-bottom' class='hidden'>
    <div class='row'>
        <div class='small-6 medium-2 columns uniform-form left'>
            <label>
                <small>&nbsp;</small>
            </label>
            <button ng-class='{desktop: "primary", mobile: "secondary"}[layout.currentType]' class='button primary expand tiny' ng-click='editCore.changeTo("desktop"); layout.currentType="desktop"'> Desktop</button>
        </div>
        <div class='small-6 medium-2 columns uniform-form left'>
            <label>
                <small>&nbsp;</small>
            </label>
            <button ng-class='{desktop: "secondary", mobile: "primary"}[layout.currentType]' class='button primary expand tiny' ng-click='editCore.changeTo("mobile"); layout.currentType = "mobile"'> Mobile</button>
        </div>
        <div class='small-4 medium-2 columns uniform-form right'>
            <label>
                <small>&nbsp;</small>
            </label>
            <button class='button primary expand tiny' ng-click='editCore.layoutSave()'>
                <i class="fa fa-floppy-o"></i>
            </button>
        </div>
        <div class='small-8 medium-6 columns uniform-form left'>
            <label class='left'>
                <small>Layout:</small>
            </label>
            <select ng-model="editCore.layout" ng-change='editCore.updatePageSettings()'>
                <option ng-repeat="layout in layout.types" value="{{layout}}">{{layout}}</option>
            </select>
        </div>
    </div>
</div>