<!--
<div class='small-12' ng-if='collection.pagination.form == "multi"'>
	<hr>
	<span class='pull-left'>
		<small>
			
			<button ng-disabled='page.editOpen'
					ng-click='premadeCollection.paginateEntries("first")' 
					ng-disabled='collection.pagination.isFirst' 
					class="button tiny fa fa-fast-backward">
			</button> 
			<button ng-disabled='page.editOpen'
					ng-click='premadeCollection.paginateEntries("sub")' 
					ng-disabled='!collection.pagination.hasPrev' 
					class="button tiny fa fa-backward">
			</button>
			&nbsp;{{collection.pagination.current}} / {{collection.pagination.max}}&nbsp;
			
			<button ng-disabled='page.editOpen'
					ng-click='premadeCollection.paginateEntries("add")' 
					ng-disabled='!collection.pagination.hasNext' 
					class="button tiny fa fa-forward">
			</button>									
			<button ng-disabled='page.editOpen'
					ng-click='premadeCollection.paginateEntries("last")' 
					ng-disabled='collection.pagination.isLast' 
					class="button tiny fa fa-fast-forward">
			</button>
			&nbsp;&nbsp;&nbsp;
			<button ng-disabled='page.editOpen'
					ng-click='premadeCollection.backToTop()'
					class="button tiny">
					Back to Top
			</button>
		</small>
	</span>
	<span class='pull-right'>
		<small style='text-align: right'>
			Entries: {{filtered.length}} / {{entryStatistics.total}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Results per page: 
			<select ng-model='collection.pagination.selectResults' 
					ng-change='collection.pagination.limit = collection.pagination.selectResults.label; premadeCollection.paginateEntries()' 
					ng-options="entry.label for entry in collection.pagination.range"
					ng-init="collection.pagination.selectResults = collection.pagination.range[collection.pagination.defaultPagiLimit]"
					style='width: 50px; padding: 10px; margin: 0' 
					>
					
			</select>
					 							
		</small>
	</span>
	<hr>
</div>
-->