<div class='row'>
	
	<!-- KEYWORD SEARCH -->
	<div class='small-12 right'>	
			<div class='small-9 left uniform-form'>						
				<input 	id='nt-keyword-search'
						type='text' placeholder='Search' 
						ng-model='searchKeyword'  
						ui-keyup="{'enter':'premadeCollection.generalSearch(searchKeyword)'}">
			</div>
			
	 		<div class='small-3 right uniform-form'>						 						 		
				<button id='nt-keyword-search-btn' ng-if='collection.searchWhere == ""' ng-click='premadeCollection.generalSearch(searchKeyword)' class='button secondary'><i class="fa fa-search"></i></button>
				<button id='nt-keyword-search-clear' ng-if='collection.searchWhere != ""' ng-click='premadeCollection.clearSearch()' class='button alert'><i class="fa fa-times-circle"></i></button>					
			</div>																				
	</div>
	
	<!-- ADVANCED SEARCH -->
	<div class='small-12 right'>
		<div class='small-3 right' >
			<centered>
				<span class='isPointer hint--top has-tip '  data-hint="{{'Advanced Search'}}"  ng-click="premadeCollection.advancedSearch()"><i class="fa fa-sliders"></i></span>
			</centered>
		</div>	
		<div class='small-3 right' >
			<center>
				<span class='isPointer  hint--top has-tip'  data-hint="{{'Load Prior'}}"  ng-click='premadeCollection.loadPriorSearch()'><i class="fa fa-cloud-upload"></i></span>
			</centered>
		</div>	
		<div class='small-3 right' >
			<center>
				<span class='isPointer hint--top has-tip'  data-hint="{{'Save Search'}}" ng-click='premadeCollection.saveSearch()'><i class="fa fa-floppy-o" ></i></span>
			</centered>
		</div>	
		<div class='small-3 right' >
			<center>
				<span class='isPointer hint--top has-tip'  data-hint="{{'Hide Search'}}" ng-click='premadeCollection.hideSearch()'><i class="fa fa-level-up"></i></span>
			</centered>
		</div>					
	</div>							
	<!-- END SEARCH BAR --> 
	
</div>