<div class='pull-right'>
	<span ng-if="masterData.userInfo.id != null && page.access.canWrite == true">
	  <!-- CAN ONLY DELETE IF ORIGINAL AUTHOR -->
	  <span ng-if="(firebasePermission.fbIDmustMatchEntryId_edit == true && masterData.userInfo.id == entry.firebaseId) || (firebasePermission.fbIDmustMatchEntryId_edit == false) || (page.access.canWrite == true)">		 								

	    <span 	class='pull-right hint--top has-tip'
	    		style='margin-left: 5px' 
	    		ng-disabled='page.editOpen' 	    		
	    		ng-click='editBtn.value = $index; premadeCollection.editEntry($event, entry.id, editBtn.value)'  	    		 
	    		data-hint="{{'Edit'}}">
	  	  		<i class="fa fa-pencil-square-o"></i>
	    </span>
	  </span>
	  
	</span>
	
	<!-- LOGIN REQUIRED TO POST -->
	<span ng-if="masterData.userInfo.id == null">
	  <!-- comment for not being logged in -->
	</span> 	
</div>