<div class='small-12 pull-left' style="padding: 5px" ng-if="entryStatistics.total > 0">	 							
	<button class='medium-2 small-5 tiny left'
			ng-disabled="entryStatistics.hasLessPage"
			ng-if='collection.pagination.multipBackBtn'   
			ng-click='premadeCollection.fetchPrevPage(true, $event)' ><i class="fa fa-chevron-left"></i> Prev Entries
	</button>			 							
	
	<button class='medium-2 small-5 tiny right'
			ng-disabled="entryStatistics.hasMorePage"
			ng-if='collection.pagination.multipNextBtn'  
			ng-click='premadeCollection.fetchNextPage(true, $event)' ><i class="fa fa-chevron-right"></i> Next Entries
	</button>		
</div>	